html,
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.main {
  background-image: url(../images/main-bg.png);
  background-size: cover;
  height: 900px;
  width: 100%;
  color: #FFFFFF;
}
.main .logo img {
  width: 300px;
  height: 145px;
  margin-left: -75px;
  margin-top: -15px;
}
.main .phone {
  text-align: center;
  margin-top: 28px;
}
.main .phone .mobile {
  display: none;
  font-size: 27px;
  color: #E27704;
}
.main .phone .phone_number {
  margin-bottom: 0;
  color: #FFFFFF;
  font-size: 27px;
}
.main .phone .recall {
  color: #FFFFFF;
  font-size: 16px;
  transition: all 0.2s;
}
.main .phone .recall:hover {
  text-decoration: none;
  box-shadow: 0 2px 0 #E27704;
}
.main .msp_menu {
  text-align: center;
  font-size: 23px;
  border-bottom: 1px solid #ffffff38;
}
.main .horline {
  margin-top: 125px;
  width: 28%;
  border-top: 3px solid #E27704;
}
.main .first_text {
  font-size: 20px;
  padding-top: 25px;
  margin-bottom: 0;
}
.main .sec_text {
  font-size: 40px;
}
.main .slogan {
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 600;
}
.main .get_consultation {
  margin-top: 75px;
}
.main .get_consultation .get_cons_btn {
  padding: 24px 27px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 22px;
  color: #FFFFFF;
  font-size: 22px;
}
.main .get_consultation .get_cons_btn:hover {
  text-decoration: none;
}
.main .get_consultation .close {
  padding: 0;
  margin: -50px -25px 0 auto;
  font-size: 50px;
  color: #FFFFFF;
}
.main .get_consultation h1 {
  font-size: 30px;
  text-decoration: underline;
  padding-bottom: 25px;
}
.main .get_consultation label {
  font-size: 18px;
}
.main .get_consultation .modal {
  color: #232323;
}
.main .get_consultation .modal-dialog {
  max-width: 850px;
}
.main .get_consultation .modal-header {
  border-bottom: none;
}
.main .get_consultation .modal-content {
  border-radius: 73px;
}
.main .get_consultation .get_submit {
  padding: 10px 60px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 22px;
  color: #FFFFFF;
  font-size: 22px;
  border-color: #fff;
  margin-bottom: 50px;
}
.main .get_consultation .get_submit:hover {
  text-decoration: none;
}
.menu {
  text-align: right;
}
.menu .openbtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-top: 36px;
}
.menu .openbtn:hover {
  background-color: transparent;
}
.menu .openbtn .top,
.menu .openbtn .down {
  width: 58px;
  height: 3px;
  background-color: #E27704;
  margin: 0;
}
.menu .openbtn .center {
  width: 40px;
  height: 3px;
  background-color: #E27704;
  margin: 7px 0;
}
.reasons {
  padding-top: 150px;
}
.reasons .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.reasons h2 {
  font-weight: 500;
  font-style: italic;
  font-size: 40px;
  padding-top: 30px;
}
.reasons .number {
  font-size: 150px;
  color: #E2770499;
  font-weight: 700;
}
.reasons .reason_text {
  color: #232323;
  padding: 30px;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 19px #0000001a;
  min-height: 320px;
  margin-left: 35px;
  margin-top: -125px;
  position: relative;
}
.reasons .reason_text .theme {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 15px;
}
.reasons .reason_text p {
  font-size: 16px;
}
.order {
  background-image: url(../images/order.png);
  background-size: cover;
  height: 535px;
  width: 100%;
  color: #FFFFFF;
  padding-top: 100px;
  margin-top: 150px;
}
.order .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.order .order_slogan {
  font-size: 40px;
  font-weight: 500;
  font-style: italic;
  padding-top: 30px;
}
.order .order_text {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}
.order .get_order {
  margin-top: 20px;
}
.order .get_order .get_order_btn {
  padding: 10px 80px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 22px;
}
.order .get_order .get_order_btn:hover {
  text-decoration: none;
}
.works {
  padding-top: 150px;
  /* EVA */
  /* BIG */
  /* SOULDENT */
  /* VELOBUM */
  /* PROPOLEX */
}
.works .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.works .works_slogan {
  font-style: italic;
  font-size: 40px;
  margin-top: 30px;
}
.works .work_text {
  font-style: italic;
  font-size: 20px;
  margin-top: 40px;
}
.works .eva_img {
  text-align: right;
  max-width: 100%;
  padding-right: 0;
}
.works .eva_img img {
  height: 100%;
  width: auto;
  margin-top: -150px;
}
.works .eva_info {
  margin-top: -700px;
  padding-left: 50px;
}
.works .eva_info .eva_mobile {
  display: none;
}
.works .eva_info .number {
  font-size: 150px;
  font-family: 'Nautilus Pompilius';
  color: #E2770499;
}
.works .eva_info h1 {
  font-size: 100px;
  margin-top: -180px;
  font-weight: 400;
}
.works .eva_info .eva_info_text {
  font-size: 20px;
  margin-bottom: 40px;
}
.works .eva_info .eva_btns {
  margin-bottom: 40px;
}
.works .eva_info .eva_info_btn1 {
  padding: 15px 60px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 22px;
  box-shadow: 3px 3px 6px #0000001a;
}
.works .eva_info .eva_info_btn1:hover {
  text-decoration: none;
}
.works .eva_info .eva_info_btn {
  padding: 15px 96px;
  background: #FFFFFF;
  color: #E27704;
  font-size: 22px;
  border-radius: 16px;
  border: 1px solid #E27704;
  box-shadow: 3px 3px 6px #0000001a;
}
.works .eva_info .eva_info_btn:hover {
  text-decoration: none;
}
.works .big_img {
  text-align: left;
  max-width: 100%;
  padding-left: 0;
  margin-top: 300px;
}
.works .big_img img {
  height: 100%;
  width: auto;
  margin-top: -200px;
}
.works .big_info {
  margin-top: -750px;
  padding-left: 50px;
}
.works .big_info .big_mobile {
  display: none;
}
.works .big_info .number {
  font-size: 150px;
  font-family: 'Nautilus Pompilius';
  color: #E2770499;
}
.works .big_info h1 {
  font-size: 100px;
  margin-top: -180px;
  font-weight: 400;
}
.works .big_info .big_info_text {
  font-size: 20px;
  margin-bottom: 40px;
}
.works .big_info .big_btns {
  margin-bottom: 40px;
}
.works .big_info .big_info_btn1 {
  padding: 15px 60px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 22px;
  box-shadow: 3px 3px 6px #0000001a;
}
.works .big_info .big_info_btn1:hover {
  text-decoration: none;
}
.works .big_info .big_info_btn {
  padding: 15px 96px;
  background: #FFFFFF;
  color: #E27704;
  font-size: 22px;
  border-radius: 16px;
  border: 1px solid #E27704;
  box-shadow: 3px 3px 6px #0000001a;
}
.works .big_info .big_info_btn:hover {
  text-decoration: none;
}
.works .souldent_img {
  text-align: right;
  max-width: 100%;
  padding-right: 0;
  margin-top: 300px;
}
.works .souldent_img img {
  height: 100%;
  width: auto;
  margin-top: -200px;
}
.works .souldent_info {
  margin-top: -800px;
  padding-left: 50px;
}
.works .souldent_info .souldent_mobile {
  display: none;
}
.works .souldent_info .number {
  font-size: 150px;
  font-family: 'Nautilus Pompilius';
  color: #E2770499;
}
.works .souldent_info h1 {
  font-size: 100px;
  margin-top: -180px;
  font-weight: 400;
}
.works .souldent_info .souldent_info_text {
  font-size: 20px;
  margin-bottom: 40px;
}
.works .souldent_info .souldent_btns {
  margin-bottom: 40px;
}
.works .souldent_info .souldent_info_btn1 {
  padding: 15px 60px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 22px;
  box-shadow: 3px 3px 6px #0000001a;
}
.works .souldent_info .souldent_info_btn1:hover {
  text-decoration: none;
}
.works .souldent_info .souldent_info_btn {
  padding: 15px 96px;
  background: #FFFFFF;
  color: #E27704;
  font-size: 22px;
  border-radius: 16px;
  border: 1px solid #E27704;
  box-shadow: 3px 3px 6px #0000001a;
}
.works .souldent_info .souldent_info_btn:hover {
  text-decoration: none;
}
.works .velobum_img {
  text-align: left;
  max-width: 100%;
  padding-left: 0;
  margin-top: 300px;
}
.works .velobum_img img {
  height: 100%;
  width: auto;
  margin-top: -200px;
}
.works .velobum_info {
  margin-top: -750px;
  padding-left: 50px;
}
.works .velobum_info .velobum_mobile {
  display: none;
}
.works .velobum_info .number {
  font-size: 150px;
  font-family: 'Nautilus Pompilius';
  color: #E2770499;
}
.works .velobum_info h1 {
  font-size: 100px;
  margin-top: -180px;
  font-weight: 400;
}
.works .velobum_info .velobum_info_text {
  font-size: 20px;
  margin-bottom: 40px;
}
.works .velobum_info .velobum_btns {
  margin-bottom: 40px;
}
.works .velobum_info .velobum_info_btn1 {
  padding: 15px 60px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 22px;
  box-shadow: 3px 3px 6px #0000001a;
}
.works .velobum_info .velobum_info_btn1:hover {
  text-decoration: none;
}
.works .velobum_info .velobum_info_btn {
  padding: 15px 96px;
  background: #FFFFFF;
  color: #E27704;
  font-size: 22px;
  border-radius: 16px;
  border: 1px solid #E27704;
  box-shadow: 3px 3px 6px #0000001a;
}
.works .velobum_info .velobum_info_btn:hover {
  text-decoration: none;
}
.works .propolex_img {
  text-align: right;
  max-width: 100%;
  padding-right: 0;
  margin-top: 400px;
}
.works .propolex_img img {
  height: 100%;
  width: auto;
  margin-top: -200px;
}
.works .propolex_info {
  margin-top: -700px;
  padding-left: 50px;
}
.works .propolex_info .propolex_mobile {
  display: none;
}
.works .propolex_info .number {
  font-size: 150px;
  font-family: 'Nautilus Pompilius';
  color: #E2770499;
}
.works .propolex_info h1 {
  font-size: 100px;
  margin-top: -180px;
  font-weight: 400;
}
.works .propolex_info .propolex_info_text {
  font-size: 20px;
  margin-bottom: 40px;
}
.works .propolex_info .propolex_btns {
  margin-bottom: 40px;
}
.works .propolex_info .propolex_info_btn1 {
  padding: 15px 60px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 22px;
  box-shadow: 3px 3px 6px #0000001a;
}
.works .propolex_info .propolex_info_btn1:hover {
  text-decoration: none;
}
.works .propolex_info .propolex_info_btn {
  padding: 15px 96px;
  background: #FFFFFF;
  color: #E27704;
  font-size: 22px;
  border-radius: 16px;
  border: 1px solid #E27704;
  box-shadow: 3px 3px 6px #0000001a;
}
.works .propolex_info .propolex_info_btn:hover {
  text-decoration: none;
}
.faq {
  background-image: url(../images/faq.png);
  background-size: cover;
  height: 649px;
  width: 100%;
  color: #FFFFFF;
  padding-top: 100px;
  margin-top: 200px;
}
.faq .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.faq .faq_slogan {
  font-size: 40px;
  font-weight: 500;
  font-style: italic;
  padding-top: 30px;
}
.faq .faq_text {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
}
.faq label {
  font-size: 18px;
}
.faq .get_faq {
  margin-top: 40px;
}
.faq .get_faq .get_faq_btn {
  padding: 10px 80px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 22px;
}
.faq .get_faq .get_faq_btn:hover {
  text-decoration: none;
}
.howworks {
  padding-top: 150px;
}
.howworks .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.howworks h2 {
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 30px;
}
.howworks .step img {
  width: 100%;
  max-width: 127px;
}
.howworks .step .hw_text {
  padding: 0;
}
.howworks .step .hw_text .number {
  color: #F991214D;
  font-size: 100px;
  font-family: 'Nautilus Pompilius';
}
.howworks .step .hw_text h3 {
  font-size: 22px;
  text-decoration: underline;
  margin-top: -100px;
  margin-bottom: 35px;
}
.howworks .step .hw_text p {
  font-size: 16px;
}
.price {
  padding-top: 150px;
  padding-bottom: 150px;
}
.price .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.price .info h2 {
  font-size: 40px;
  font-style: italic;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 30px;
}
.price .info .info_text {
  font-size: 20px;
  margin-bottom: 0;
}
.price .info li {
  font-size: 15px;
  list-style: none;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 5px;
  padding-top: 15px;
}
.price .info li:before {
  content: "\2611";
  font-size: 40px;
  vertical-align: middle;
  line-height: 50px;
  padding-right: 25px;
  padding-bottom: 5px;
  color: #E27704;
}
.price .info .info_ps {
  color: #AFA9A9;
  font-size: 17px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.price .price_price {
  color: #E27704;
  font-family: 'Nautilus Pompilius';
  font-size: 100px;
  margin-left: 33%;
  margin-top: -280px;
  z-index: -1;
  -moz-transform: rotate(-15deg);
  /* Для Firefox */
  -ms-transform: rotate(-15deg);
  /* Для IE */
  -webkit-transform: rotate(-15deg);
  /* Для Safari, Chrome, iOS */
  -o-transform: rotate(-15deg);
  /* Для Opera */
  transform: rotate(-15deg);
}
.price .get_price .get_price_btn {
  padding: 15px 60px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 22px;
  box-shadow: 3px 3px 6px #0000001a;
}
.price .get_price .get_price_btn:hover {
  text-decoration: none;
}
.price .get_consultation .get_consultation_btn {
  padding: 15px 60px;
  color: #E27704;
  border-radius: 16px;
  border: 1px solid #E27704;
  font-size: 22px;
  box-shadow: 3px 3px 6px #0000001a;
}
.price .get_consultation .get_consultation_btn:hover {
  text-decoration: none;
}
.price .price_img {
  text-align: right;
  max-width: 100%;
  padding-right: 0;
  margin-top: -900px;
}
.dsc {
  padding-top: 150px;
  background-image: url(../images/dsc-bg.png);
  background-size: cover;
  height: 830px;
}
.dsc .dsc_card {
  padding: 50px;
  border-radius: 25px;
  background: #FFFFFF;
}
.dsc .dsc_card h2 {
  font-size: 35px;
  font-style: italic;
  font-weight: 500;
  padding-bottom: 50px;
}
.dsc .dsc_card h2 span {
  color: #E27704;
  text-decoration: underline;
}
.dsc .dsc_card label {
  font-size: 18px;
}
.dsc .dsc_card .form-check-label {
  font-size: 14px;
  padding-bottom: 30px;
}
.dsc .get_dsc_btn {
  padding: 15px 60px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 16px;
  color: #FFFFFF;
  font-size: 22px;
}
.dsc .get_dsc_btn:hover {
  text-decoration: none;
}
.dsc .sale_bg .card1 {
  width: 350px;
  padding-top: 50px;
}
.dsc .sale_bg .card2 {
  width: 350px;
  margin-top: -305px;
  margin-left: 25px;
}
.footer {
  padding-top: 150px;
}
.footer .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.footer h2 {
  font-style: italic;
  font-size: 40px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 60px;
}
.footer .icons {
  margin-right: 15px;
}
.footer .messengers img,
.footer .phones img,
.footer .email img {
  width: 67px;
}
.footer .messengers h3,
.footer .phones h3,
.footer .email h3 {
  font-size: 25px;
  font-weight: 400;
  padding-left: 15px;
  padding-bottom: 30px;
}
.footer .messengers ul,
.footer .phones ul,
.footer .email ul {
  padding: 0;
}
.footer .messengers ul li,
.footer .phones ul li,
.footer .email ul li {
  list-style-type: none;
  display: inline;
  font-size: 30px;
}
.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #F99121;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  text-align: left;
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-size: 21px;
}
.the_menu {
  border-bottom: 1px solid #ffffff38;
  margin-left: 25px;
}
.sidepanel a:hover {
  color: #f1f1f1;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn:hover {
  background-color: #444;
}
@media (max-width: 1200px) {
  .main .phone .desktop {
    display: none;
  }
  .main .phone .mobile {
    display: block;
  }
}
@media (max-width: 991px) {
  .works .eva_img img {
    margin-top: 0;
    width: 100%;
  }
  .works .big_img img {
    width: 100%;
  }
  .works .souldent_img img {
    width: 100%;
  }
  .works .velobum_img img {
    width: 100%;
  }
  .works .propolex_img img {
    width: 100%;
  }
  .price .price_img {
    display: none;
  }
  .dsc .sale_bg {
    display: none;
  }
  .works .eva_info {
    margin-top: 0;
  }
  .works .big_info {
    margin-top: 0;
  }
  .works .souldent_info {
    margin-top: 0;
  }
  .works .velobum_info {
    margin-top: 0;
  }
  .works .propolex_info {
    margin-top: 0;
  }
}
@media (max-width: 496px) {
  .main {
    height: 373px;
    background-position: 82%;
  }
  .main .logo img {
    width: 200px;
    height: 100px;
    margin-left: -40px;
  }
  .main .phone {
    margin-top: 22px;
    text-align: right;
  }
  .main .phone .mobile {
    font-size: 21px;
  }
  .main .menu .openbtn {
    margin-top: 30px;
  }
  .main .menu .openbtn .top {
    width: 29px;
    height: 2px;
  }
  .main .menu .openbtn .center {
    width: 20px;
    height: 2px;
    margin: 4px 0;
  }
  .main .menu .openbtn .down {
    width: 29px;
    height: 2px;
  }
  .main .horline {
    margin-top: 10px;
    width: 40%;
  }
  .main .first_text {
    font-size: 12px;
    padding-top: 5px;
  }
  .main .sec_text {
    font-size: 22px;
    margin-bottom: 0;
  }
  .main .slogan {
    font-size: 50px;
    text-align: center;
  }
  .main .get_consultation {
    text-align: center;
    margin-top: 15px;
  }
  .main .get_consultation .modal-content {
    border-radius: 15px;
  }
  .main .get_consultation h1 {
    font-size: 18px;
  }
  .main .get_consultation .form-check-label {
    font-size: 10px;
  }
  .main .get_consultation .get_submit {
    font-size: 15px;
  }
  .main .get_consultation .get_cons_btn {
    padding: 12px 13px;
    font-size: 12px;
    border-radius: 12px;
  }
  .main .msp_menu p {
    font-size: 13px;
  }
  .main .the_menu {
    font-size: 12px;
  }
  .reasons {
    padding-top: 25px;
  }
  .reasons .horline {
    width: 40%;
  }
  .reasons h2 {
    font-size: 20px;
    padding-top: 10px;
  }
  .reasons .number {
    font-size: 90px;
  }
  .reasons .reason_text {
    padding: 15px;
    margin-top: -80px;
  }
  .reasons .reason_text .theme {
    text-align: left;
    font-size: 18px;
    padding-bottom: 5px;
  }
  .reasons .reason_text p {
    font-size: 15px;
  }
  .order {
    margin-top: 35px;
    padding-top: 25px;
    background-position: center;
  }
  .order .horline {
    width: 40%;
  }
  .order .order_slogan {
    font-size: 20px;
    padding-top: 10px;
  }
  .order .order_text {
    font-size: 15px;
  }
  .order .form-check-label {
    font-size: 10px;
  }
  .order .get_order {
    text-align: center;
    margin-top: 10px;
  }
  .order .get_order .get_order_btn {
    font-size: 15px;
  }
  .works {
    padding-top: 25px;
  }
  .works .horline {
    width: 40%;
  }
  .works .works_slogan {
    font-size: 20px;
    padding-top: 10px;
    margin-top: 0;
  }
  .works .work_text {
    margin-top: 0;
    font-size: 18px;
  }
  .works .eva_info {
    padding-left: 15px;
  }
  .works .eva_info .number {
    font-size: 70px;
  }
  .works .eva_info h1 {
    font-size: 50px;
    margin-top: -90px;
  }
  .works .eva_info .eva_info_text {
    font-size: 15px;
  }
  .works .eva_info .eva_btns {
    text-align: center;
    margin-bottom: 30px;
  }
  .works .eva_info .eva_info_btn1 {
    font-size: 15px;
    padding: 10px 30px;
  }
  .works .eva_info .eva_info_btn {
    font-size: 15px;
    padding: 10px 54px;
  }
  .works .big_img {
    margin-top: 0;
  }
  .works .big_img img {
    margin-top: 25px;
  }
  .works .big_info {
    padding-left: 15px;
  }
  .works .big_info .number {
    font-size: 70px;
  }
  .works .big_info h1 {
    font-size: 50px;
    margin-top: -90px;
  }
  .works .big_info .big_info_text {
    font-size: 15px;
  }
  .works .big_info .big_btns {
    text-align: center;
    margin-bottom: 30px;
  }
  .works .big_info .big_info_btn1 {
    font-size: 15px;
    padding: 10px 30px;
  }
  .works .big_info .big_info_btn {
    font-size: 15px;
    padding: 10px 54px;
  }
  .works .souldent_img {
    margin-top: 0;
  }
  .works .souldent_img img {
    margin-top: 25px;
  }
  .works .souldent_info {
    padding-left: 15px;
  }
  .works .souldent_info .number {
    font-size: 70px;
  }
  .works .souldent_info h1 {
    font-size: 50px;
    margin-top: -90px;
  }
  .works .souldent_info .souldent_info_text {
    font-size: 15px;
  }
  .works .souldent_info .souldent_btns {
    text-align: center;
    margin-bottom: 30px;
  }
  .works .souldent_info .souldent_info_btn1 {
    font-size: 15px;
    padding: 10px 30px;
  }
  .works .souldent_info .souldent_info_btn {
    font-size: 15px;
    padding: 10px 54px;
  }
  .works .velobum_img {
    margin-top: 0;
  }
  .works .velobum_img img {
    margin-top: 25px;
  }
  .works .velobum_info {
    padding-left: 15px;
  }
  .works .velobum_info .number {
    font-size: 70px;
  }
  .works .velobum_info h1 {
    font-size: 50px;
    margin-top: -90px;
  }
  .works .velobum_info .velobum_info_text {
    font-size: 15px;
  }
  .works .velobum_info .velobum_btns {
    text-align: center;
    margin-bottom: 30px;
  }
  .works .velobum_info .velobum_info_btn1 {
    font-size: 15px;
    padding: 10px 30px;
  }
  .works .velobum_info .velobum_info_btn {
    font-size: 15px;
    padding: 10px 54px;
  }
  .works .propolex_img {
    margin-top: 0;
  }
  .works .propolex_img img {
    margin-top: 25px;
  }
  .works .propolex_info {
    padding-left: 15px;
  }
  .works .propolex_info .number {
    font-size: 70px;
  }
  .works .propolex_info h1 {
    font-size: 50px;
    margin-top: -90px;
  }
  .works .propolex_info .propolex_info_text {
    font-size: 15px;
  }
  .works .propolex_info .propolex_btns {
    text-align: center;
    margin-bottom: 30px;
  }
  .works .propolex_info .propolex_info_btn1 {
    font-size: 15px;
    padding: 10px 30px;
  }
  .works .propolex_info .propolex_info_btn {
    font-size: 15px;
    padding: 10px 54px;
  }
  .faq {
    margin-top: 25px;
    padding-top: 25px;
    background-position: 82%;
  }
  .faq .horline {
    width: 40%;
  }
  .faq .faq_slogan {
    font-size: 20px;
    padding-top: 10px;
  }
  .faq .faq_text {
    font-size: 16px;
  }
  .faq .form-check-label {
    font-size: 10px;
  }
  .faq .get_faq {
    text-align: center;
    margin-top: 10px;
  }
  .faq .get_faq .get_faq_btn {
    font-size: 15px;
  }
  .howworks {
    padding-top: 25px;
  }
  .howworks .horline {
    width: 40%;
  }
  .howworks h2 {
    font-size: 20px;
  }
  .howworks .step .hw_text {
    margin-top: -15px;
  }
  .howworks .step .hw_text .number {
    font-size: 50px;
  }
  .howworks .step .hw_text h3 {
    font-size: 18px;
    margin-top: -50px;
    margin-bottom: 10px;
  }
  .price {
    padding-top: 25px;
    padding-bottom: 50px;
  }
  .price .horline {
    width: 40%;
  }
  .price .info h2 {
    font-size: 20px;
    padding-bottom: 0;
  }
  .price .info .info_text {
    font-size: 18px;
  }
  .price .info ul {
    padding-left: 0;
  }
  .price .info ul li {
    padding-bottom: 15px;
    padding-top: 25px;
    padding-left: 50px;
  }
  .price .info ul li:before {
    line-height: 20px;
    padding-right: 14px;
    margin-left: -40px;
    padding-bottom: 5px;
    font-size: 30px;
  }
  .price .price_price {
    font-size: 50px;
    margin-top: -250px;
  }
  .price .get_price,
  .price .get_consultation {
    text-align: center;
  }
  .price .get_price .get_price_btn {
    font-size: 15px;
    padding: 10px 80px;
  }
  .price .get_consultation {
    margin-top: 30px;
  }
  .price .get_consultation .get_consultation_btn {
    font-size: 15px;
    padding: 10px 18px;
  }
  .dsc {
    padding-top: 15px;
    background-position: 40%;
    height: 500px;
  }
  .dsc .dsc_block {
    padding: 20px;
  }
  .dsc .dsc_card {
    padding: 20px;
  }
  .dsc .dsc_card h2 {
    text-align: center;
    font-size: 20px;
    padding-bottom: 10px;
  }
  .dsc .dsc_card h2 br {
    display: none;
  }
  .dsc .dsc_card .form-check-label {
    font-size: 10px;
    padding-bottom: 10px;
  }
  .dsc .get_dsc {
    text-align: center;
    margin-bottom: 20px;
  }
  .dsc .get_dsc .get_dsc_btn {
    padding: 10px 30px;
    font-size: 15px;
  }
  .footer {
    padding-top: 25px;
  }
  .footer .horline {
    width: 40%;
  }
  .footer h2 {
    font-size: 20px;
    padding-top: 10px;
  }
  .footer .footer_content {
    text-align: center;
  }
  .footer .messengers h3 {
    font-size: 18px;
    padding-left: 0;
    padding-bottom: 10px;
  }
  .footer .messengers img {
    width: 50px;
  }
  .footer .phones h3,
  .footer .email h3 {
    font-size: 18px;
    padding-left: 0;
    padding-bottom: 10px;
  }
  .footer .phones img,
  .footer .email img {
    width: 35px;
  }
  .footer .phones ul li,
  .footer .email ul li {
    font-size: 18px;
  }
}
