html,
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 400;
}
.main {
  background-image: url(../images/main-bg.png);
  background-size: cover;
  height: 900px;
  width: 100%;
  color: #FFFFFF;
}
.main .logo img {
  width: 300px;
  height: 145px;
  margin-left: -75px;
  margin-top: -15px;
}
.main .phone {
  text-align: center;
  margin-top: 28px;
}
.main .phone .mobile {
  display: none;
  font-size: 27px;
  color: #E27704;
}
.main .phone .phone_number {
  margin-bottom: 0;
  color: #FFFFFF;
  font-size: 27px;
}
.main .phone .recall {
  color: #FFFFFF;
  font-size: 16px;
  transition: all 0.2s;
}
.main .phone .recall:hover {
  text-decoration: none;
  box-shadow: 0 2px 0 #E27704;
}
.main .msp_menu {
  text-align: center;
  font-size: 23px;
}
.main .horline {
  margin-top: 125px;
  width: 28%;
  border-top: 3px solid #E27704;
}
.main .first_text {
  font-size: 20px;
  padding-top: 25px;
  margin-bottom: 0;
}
.main .sec_text {
  font-size: 40px;
}
.main .slogan {
  text-transform: uppercase;
  font-size: 100px;
  font-weight: 600;
}
.main .get_consultation {
  margin-top: 75px;
}
.main .get_consultation .get_cons_btn {
  padding: 24px 27px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 22px;
  color: #FFFFFF;
}
.main .get_consultation .get_cons_btn:hover {
  text-decoration: none;
}
.menu {
  text-align: right;
}
.menu .openbtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  margin-top: 36px;
}
.menu .openbtn:hover {
  background-color: transparent;
}
.menu .openbtn .top,
.menu .openbtn .down {
  width: 58px;
  height: 3px;
  background-color: #E27704;
  margin: 0;
}
.menu .openbtn .center {
  width: 40px;
  height: 3px;
  background-color: #E27704;
  margin: 7px 0;
}
.reasons {
  padding-top: 150px;
}
.reasons .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.order {
  background-image: url(../images/order.png);
  background-size: cover;
  height: 535px;
  width: 100%;
  color: #FFFFFF;
  padding-top: 150px;
}
.order .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.order .get_order {
  margin-top: 40px;
}
.order .get_order .get_order_btn {
  padding: 15px 60px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 16px;
  color: #FFFFFF;
}
.order .get_order .get_order_btn:hover {
  text-decoration: none;
}
.works {
  padding-top: 150px;
}
.works .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.faq {
  background-image: url(../images/faq.png);
  background-size: cover;
  height: 649px;
  width: 100%;
  color: #FFFFFF;
  padding-top: 150px;
}
.faq .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.faq .get_faq {
  margin-top: 40px;
}
.faq .get_faq .get_faq_btn {
  padding: 15px 60px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 16px;
  color: #FFFFFF;
}
.faq .get_faq .get_faq_btn:hover {
  text-decoration: none;
}
.howworks {
  padding-top: 150px;
}
.howworks .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.howworks .step img {
  width: 100%;
}
.howworks .step .hw_text {
  padding: 0;
}
.price {
  padding-top: 150px;
}
.price .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.price .bg_content .price_img {
  width: 100%;
}
.price .get_price {
  margin-top: -250px;
}
.price .get_price .get_price_btn {
  padding: 15px 60px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 16px;
  color: #FFFFFF;
}
.price .get_price .get_price_btn:hover {
  text-decoration: none;
}
.price .get_consultation {
  margin-top: -250px;
}
.price .get_consultation .get_consultation_btn {
  padding: 15px 60px;
  color: #E27704;
  border-radius: 16px;
  border: 1px solid #E27704;
}
.price .get_consultation .get_consultation_btn:hover {
  text-decoration: none;
}
.dsc {
  padding-top: 150px;
  background-image: url(../images/dsc-bg.png);
  background-size: cover;
  height: 830px;
}
.dsc .dsc_card {
  padding: 25px;
  border-radius: 25px;
  background: #FFFFFF;
}
.dsc .get_dsc_btn {
  padding: 15px 60px;
  background-image: linear-gradient(to top, #E27704 0%, #FFC281 100%);
  border-radius: 16px;
  color: #FFFFFF;
}
.dsc .get_dsc_btn:hover {
  text-decoration: none;
}
.dsc .sale_bg .card1 {
  width: 350px;
  padding-top: 50px;
}
.dsc .sale_bg .card2 {
  width: 350px;
  margin-top: -305px;
  margin-left: 25px;
}
.footer {
  padding-top: 150px;
}
.footer .horline {
  width: 28%;
  border-top: 3px solid #E27704;
}
.footer .icons {
  margin-right: 15px;
}
.footer .messengers img,
.footer .phones img,
.footer .email img {
  width: 67px;
}
.footer .messengers ul,
.footer .phones ul,
.footer .email ul {
  padding: 0;
}
.footer .messengers ul li,
.footer .phones ul li,
.footer .email ul li {
  list-style-type: none;
  display: inline;
}
.sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #F99121;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-size: 21px;
}
.sidepanel a:hover {
  color: #f1f1f1;
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn:hover {
  background-color: #444;
}
@media (max-width: 1200px) {
  .main .phone .desktop {
    display: none;
  }
  .main .phone .mobile {
    display: block;
  }
}
